<div class="container">
	<div id="sign-up-field">
		<div id="sign-up-title">Sign Up</div>
		<form name="SignupForm" novalidate>
			<input type="text" name="firstName" placeholder="First Name" class="sign-up-input form-control" ng-model="SignupCtrl.user.firstName" required>
			<div ng-if="SignupForm.firstName.$error.required && SignupForm.firstName.$touched" class="error">
				Enter first name
			</div>
			<br>
			
			<input type="text" name="lastName" placeholder="Last Name" class="sign-up-input form-control" ng-model="SignupCtrl.user.lastName" required>
			<div ng-if="SignupForm.lastName.$error.required && SignupForm.lastName.$touched" class="error">
				Enter last name
			</div>
			<br>
			
			<input type="email" name="email" placeholder="Email" class="sign-up-input form-control" ng-model="SignupCtrl.user.email" required>
			<div ng-if="SignupForm.email.$invalid && SignupForm.email.$touched" class="error">
				Enter Valid Email
			</div>
			<br>
			
			<input type="text" name="phone" placeholder="Contact" class="sign-up-input form-control" ng-model="SignupCtrl.user.phone" ng-pattern="/^[0-9]*$/" maxlength="10">
			<div ng-if="SignupForm.phone.$invalid && SignupForm.phone.$touched" class="error">
				Enter Valid Contact
			</div>
			<br>
			
			<input type="text" name="favourite" placeholder="Favourite dish" class="sign-up-input form-control" ng-blur="SignupCtrl.validateFavourite();" ng-model="SignupCtrl.user.favourite" required>
			<div ng-if="SignupForm.favourite.$error.required && SignupForm.favourite.$touched" class="error">
				Enter favourite dish
			</div>
			<div ng-if="SignupCtrl.invalidDish" class="error">
				No such menu number exists
			</div>
			<br>
			
			<button class="btn btn-default sign-up-submit" ng-disabled="SignupForm.$invalid" ng-click="SignupCtrl.submit()">Submit</button>
			
		</form>
		
		<div id="sign-up-complete" ng-if="SignupCtrl.saved">Your information has been saved</div>
		
	</div>
</div>
